<div class="min-h-screen">
  <div class="grid grid-cols-11">
    <div class="col-span-3 min-h-screen justify-start border-r border-gray-300 rounded-lg">
      <div class="mt-20 flex flex-col items-center">
        <%= turbo_frame_tag "new_user" do %>
          <%= link_to new_user_path, class: "px-3 py-2 bg-blue-700 text-gray-50 montserrat-regular rounded" do %>
            New User
          <% end %>
        <% end %>
      </div>
      <%# <div class="mt-6 pt-8 flex flex-col items-center border-t border-gray-300"> %>
        <%# <div class="text-gray-700 font-light text-xl underline">All Roles:</div> %>
        <%# <%= turbo_frame_tag "roles" do %>
          <%# <% Role.all.each do |role| %>
            <%# <div class="text-lg text-lg flex flex-col space-y-3">   %>
              <%# <%= render "roles/role", role: role %>
            <%# </div> %>
          <%# <% end %>
        <%# <% end %>
      <%# </div> %>
      <%# <div class="mt-4 flex flex-col items-center"> %>
        <%# <%= turbo_frame_tag "new_role" do %>
          <%# <%= link_to new_role_path, class: "px-2 py-1 bg-blue-700 text-gray-50 montserrat-regular rounded" do %>
            <%# New Role %>
          <%# <% end %>
        <%# <% end %>
      <%# </div> %>
    </div>

    <div class="col-span-8 justify-start">
      <div class="mt-16 ml-8 flex flex-col">
        <span class="mb-12 oswald-light text-3xl text-gray-700 indent-8">All Users</span>
        <%= turbo_frame_tag "users" do %>
          <% User.all.each do |user| %>
            <div class="flex flex-col space-y-3">  
              <%= render "users/user", user: user %> 
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
