<div class="min-h-screen">
  <div class="mt-8 oswald-light text-3xl md:text-5xl flex justify-center items-center"><%= @teacher.name %></div>
  <div class="md:grid md:grid-cols-10">
    <div class="md:col-span-3 mt-8 md:mt-14 flex flex-col items-center">
      <% if current_user.is_super_admin? || current_user.is_admin? %>
        <%= turbo_frame_tag "new_classroom" do %>
          <div>
            <%= link_to new_teacher_classroom_path(@teacher), class: "bg-blue-700 px-3 py-2 text-gray-50 lato-bold" do %>
              Add a classroom for assessment
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="montserrat-regular text-gray-700">
          You are viewing as guest user.
        </div>
      <% end %>
    </div>
    <div class="md:col-span-6 mt-8 mb-16 flex flex-col">
      <%= turbo_frame_tag "classrooms" do %>
        <% @teacher.classrooms.each do |classroom| %>
          <div class="my-4">
          <%= render "classrooms/classroom", classroom: classroom %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>