<%= form_for role, html: {class: "flex flex-col justify-center space-y-2 text-gray-700"} do |f| %>
  <% if role.errors.any? %>
    <div class="bg-red-200 px-3 py-2 border border-red-600 text-red-600 flex flex-col space-y-1 indent-8">
    <div class="text-lg indent-1"><%= pluralize(role.errors.count, "error") %> prohibited role from being created: </div>
    <% role.errors.full_messages.each do |msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    </div>
  <% end %>

  <%= f.label :kind, class: "montserrat-regular" %>
  <%= f.text_field :kind, class: "px-1 montserrat-regular rounded border border-slate-300 focus:outline-none focus:border-blue-600" %>
  
  <%= f.submit yield(:button_name), class: "w-full rounded montserrat-regular text-gray-50 bg-blue-700" %>
<% end %>