<!DOCTYPE html>
<html>
  <head>
    <title>Student Assessment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <div class="flex justify-end w-full sticky top-24 z-10" id="flash">
      <%= render "layouts/flash_messages" %>
    </div>
    <%= yield %>
  </body>
</html>
